* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background: #ecf0f1;
}

#nav {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
}

#nav p {
  margin: 4px;
}

#nav h2 {
  margin: 0;
  font-size: 1.5em;
}

#nav input {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.chart-container {
  display: inline-block;
  width: 45%;
  margin: 1% 2%;
  vertical-align: top;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 4px solid #2c3e50;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 6px;
}

.tooltip p {
  margin: 2px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: #2c3e50;
  bottom: -20px;
  margin-left: -4px;
}

.country {
  stroke: none;
}

.country:hover {
  cursor: pointer;
}

.country.active {
  stroke: #2c3e50;
  stroke-width: 2px;
}

.y-axis-label {
  font-size: 0.8em;
}

.tick text {
  font-size: 1.5em;
}