svg {
  margin: 0 auto;
  display: block;
}

.tick line {
  stroke: #ccc;
  stroke-dasharray: 10, 5;
}

.tooltip{
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: lightblue;
  border: 8px solid blue;
  border-radius: 8px;
  padding: 15px;

}

.tooltip p{
  margin: 0;
}

.tooltip:before{
  content: ' ';
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: blue;
  top: -30px;
  left: 50%;
  margin-left: -6px;

}